@use "../base" as *;

.btn{   

    padding: 15px 20px;
    border-radius: 25px;
    font-weight: 500;
    border: none;
    color: white;
    background: linear-gradient($color-secondary,$color-primary) ;
    @include shadow(10%);
    cursor: pointer;

    &:hover{

        background: linear-gradient($color-secondary,lighten($color-primary,3%)) ;
        @include shadow(10%,5px);

    } 
    
}


.fa-heart{

    margin-right: 20px;
    font-weight: 300;
    font-size: 22px;
    &:hover{

        animation: heart 800ms ease forwards;

    }

}

.arrow-ruturn{

    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    left:30px;
    top:20px;
    font-size: 22px;
    color: black;

}

.btn-menu-container{

    margin-top: 40px;
    display: flex;
    justify-content: center;

    .btn-menu{

        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 70px;

    }

}