@use "../base" as *;

.btn{   

    padding: 15px 20px;
    border-radius: 25px;
    font-weight: 500;
    border: none;
    color: white;
    background: linear-gradient($color-secondary,$color-primary) ;
    @include shadow(10%);
    cursor: pointer;

    &:hover{

        background: linear-gradient($color-secondary,lighten($color-primary,3%)) ;

    }
    
    
}