@use "../utils" as *;

.card{ 
    padding: 15px;
    display: flex;
    align-items: baseline;
    background-color: #f6f6f6;
    border-radius: 20px;
    gap: 20px;
    cursor: pointer;
    @include shadow;

}

/*add card description + info  */